html, html * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
	scroll-behavior: smooth;
}

body {
  font-family: arial, sans-serif;
  font-size: 1vw;
  background: white;
  /*display: flex;*/
}
img {
  width: 100%;
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
/*a, a:visited {
    color: inherit;
}*/
header {
  position: fixed;
  padding: 1.5em;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 30000;
}
.site-logo {
  position: relative;
  display: block;
  float: left;
  height: 2rem;
  width: auto;
}
.site-logo img {
  height: 100%;
  width: auto;
}
.logo {
  opacity: 1;
}

/*  NAVIGATION MENU  */

nav.site-nav {
  position: relative;
  float: right;
  z-index: 400;
  top: 0;
  left: 0;
  /*display: block !important;*/
  width: 80%;
  padding: .75em 1em 0 0;
  opacity: .95;
  background: none;
}
.site-nav ul {
  list-style-type: none;
  margin: 0;
  text-align: right;
}
.site-nav ul li {
  display: inline-block;
  margin-bottom: 0;
  margin-left: 1.5em;
}
.site-nav ul li a {
  font-size: .85em;
  padding-bottom: .5em;
  text-decoration: none;
  letter-spacing: .15em;
  text-transform: uppercase;
  color: #fff;
}

.site-nav ul li a:hover {
  outline: none;
  border-bottom: 1px solid white;
}

.nav_active{
  border-bottom: 1px solid #151420;
}

#nav_active{
  border-bottom: 1px solid #151420;
}

/*  DROP DOWN MENU  */

.dropcont {
  display: none;
  position: absolute;
  padding-top: 1em;
  /*background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;*/
}

.site-nav ul li .dropcont a {
  float: none;
  color: #fff;
  padding: 0.5em 0 .5em;
  text-decoration: none;
  display: block;
  text-align: left;
  width: auto;
}

.site-nav ul li .dropcont a:hover {
  border-bottom: 1px solid #fff;
}

.nav-item:hover .dropcont {
  display: block;
}

.nav-item {
  margin: 0;
  float: left;
  /*overflow: hidden;*/
}

/*.dropcaller {
  font-size: 16px;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones
  margin: 0; /* Important for vertical align on mobile phones
}*/

/*  DROP DOWN ANIMATION  

header .container ul > li > ul.dropup li {opacity:0; transform: translate(0,200px);}
li:hover .dropup li {animation-name: dropup;}
@keyframes dropup {
    0%   {opacity:0; transform: translate(0,200px);}
    100% {opacity:1; transform: translate(0,0);}
}
@-webkit-keyframes dropup {
    0%   {opacity:0; transform: translate(0,200px); }
    100% {opacity:1; transform: translate(0,0);}
}
li:hover ul.dropup.hov li:nth-child(1) {
	animation-duration: 0.3s;
	animation-delay 0.3s;
}
li:hover ul.dropup.hov li:nth-child(2) {
	animation-duration: 0.4s;
	animation-delay 0.5s;
}
li:hover ul.dropup.hov li:nth-child(3) {
	animation-duration: 0.5s;
	animation-delay 1s;
}
li:hover ul.dropup.hov li:nth-child(4) {
	animation-duration:0.6s;
	animation-delay 1.5s;
}
li:hover ul.dropup.hov li:nth-child(5) {
	animation-duration:0.7s;
	animation-delay 2s;
}*/



/*  HERO  */

.hero {
  position: static;
  height: 54vw;
  background-image: url("images/home_hero.png");
  background-size: 100%;
}

.wedding_hero {
	position: static;
	height: 32vw;
	background-image: url("images/weddings_hero.jpg");
	background-size: 100%;
}

.wed-gallery_hero {
	position: static;
	height: 49vw;
	background-image: url("images/lex-max/hero_LEX+MAX.jpg");
	background-size: 100%;
}

.wed-gallery_hero img {
	height: 50px;
	width: auto;
}

.wed-gallery_hero a {
	letter-spacing: .3em;
	text-decoration: none;
	color: white;
}

.wed-gallery_hero a:hover {
	color: #ABABAB;
}

.hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 20000;
  padding-top: 0em;
  top: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.wedding_hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 20000;
  padding-top: 0em;
  /*top: 0;
  bottom: 0;*/
  width: 100%;
  text-align: center;
}

.wed-gallery_hero-content {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  color: #fff;
  position: absolute;
  z-index: 20000;
  padding-top: 0em;
  /*top: 0;
  bottom: 0;*/
  width: 100%;
  text-align: center;
}

h2 {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 13%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}

.wedding_hero-content h2 {
	font-weight: 100;
	font-size: 2em;
    line-height: 2.2;
	margin-bottom: -.35em;
	padding-top: 11%;
	letter-spacing: .3em;
	text-transform: uppercase;
	text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}

h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .85em;
  margin-left: .7em;
  font-size: 8.5vw;
}

.wedding_hero-content h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .5em;
  margin-left: .7em;
  font-size: 8.5vw;
}

.wed-gallery_hero-content h1 {
  margin-bottom: 1.5%;
  text-transform: uppercase;
  text-shadow: 0px 0px 10px rgba(0, 0, 0,.05);
  letter-spacing: .5em;
  margin-left: .7em;
  font-size: 6.5vw;
	padding-top: 13%;
}

h3 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2.75;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
}

.wed-gallery_hero-content h3 {
  font-size: 1.5em;
  font-weight: 100;
  line-height: 2.75;
  letter-spacing: .35em;
  text-transform: uppercase;
  text-shadow: 0px 0px 8px rgba(0, 0, 0,.2);
  margin-bottom: 3.5em;
}

/*  BODY  */

.intro {
  position: relative;
  color: #1b1b1b;
  background: #f6f6f6;
  padding: 7.5em 6em 7.5em;
}
.intro-text {
  position: relative;
}
.intro p {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2.5em;
  line-height: 1.8;
  position: relative;
  z-index: 200;
  text-align: center;
  letter-spacing: .325em;
  text-transform: uppercase;
}
.artworks, .next-artworks {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.artwork, .next-artwork {
  display: flex;
}
.artwork .artwork-piece {
  padding: 8% 0 8% 23.5%;
  float: right;
  background-image: linear-gradient( 135deg, #f6f6f6 0%, #c2c2c2 100%);
  width: 50%;
}
.next-artwork .next-artwork-piece {
  padding: 8% 23.5% 8% 0;
  background-image: linear-gradient( 135deg, rgb(156, 149, 124) 0%, rgb(71, 64, 38) 100%);
  width: 50%;
}
.artwork-piece figure {
  position: relative;
}
.next-artwork-piece figure {
  position: relative;
}
.artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.next-artwork-piece figure img {
  position: relative;
  z-index: 100;
}
.artwork .artwork-description {
  background: #1b1b1b;
  color: #fff;
  width: 50%;
  padding: 11.25em 13em 11.5em;
}
.next-artwork .next-artwork-description {
  background: #1f212c;
  color: #fff;
  width: 50%;
  padding: 11.25em 0 11.5em 13em;
}
.artwork-title, .next-artwork-title {
  font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 3em;
  font-weight: 100;
  padding: 2em 0 0 0;
  letter-spacing: .36em;
  text-transform: uppercase;
  line-height: 1.5;
  max-width: 9em;
  margin-bottom: .5em;
}
.artwork-text, .next-artwork-text {
  font-size: 1.1em;
  line-height: 1.9;
  /*opacity: .8;*/
  max-width: 20em;
}
.see-more, .next-see-more {
  font-size: 1em;
  display: inline-block;
  margin-top: 4.1em;
  padding: 0 0 .4em 0;
  transition: all .3s;
  text-decoration: none;
  color: white;
}
.see-more:hover {
  border-bottom: 1px solid white;
}

/*  BOX CONTAINERS  */

.wedding_img-description {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(10, 10, 10, 0.72);
	border-radius: 15px;
  color: #fff;
  visibility: hidden;
  opacity: 0;
	
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 2em;
  /*font-family: 'acumin-pro-extra-condensed', sans-serif;
  font-size: 2em;*/
	
  text-align: center;
  padding-top: 43%;

  transition: opacity .2s, visibility .2s;
}

.box_container div {
	position: relative;
}

.box_container div:hover p {
  visibility: visible;
  opacity: 1;
}

.box_container{
    display: flex;
    flex-wrap: wrap;
	  justify-content: start;
    margin: 40px 10% 6% 10%;
	  z-index: 30000;
}

.box_container div{
	height: 200px;
	width: 200px;
}

.box_container img {
	padding-bottom: 1%;
	height: 100%;
	width: 100%;
	border-radius: 15px;
}

/*  FOOTER  */

footer {
  margin-top: -3.5em;
  padding-top: 10em;
  background-image: linear-gradient( -45deg, #f6f6f6 0%, #cfcfcf 100%);
	width: 100%;
}
.footer-content {
  width: 64%;
  margin: 0 auto;
	padding-bottom:1.7em;
}
.footer-social {
  display: block;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
.footer-social li {
  display: inline-block;
  margin: 0 1.2em;
}
.footer-social li a {
  line-height: 3.5em;
  display: inline-block;
  width: 4em;
  height: 4em;
  text-align: center;
  border: 2px solid #1b1b1b;
  border-radius: 50%;
}
.footer-social li a:hover {
  border-color: #fff;
  background: #fff;
}
.footer-social li a img {
  width: auto;
  height: 1em;
}
.footer-social li a .social-hover {
  display: none;
}
.footer-social li a:hover .social-default {
  display: none;
}
.footer-social li a:hover .social-hover {
  display: inline;
}
.footer-info {
  clear: both;
  padding-top: 5em;
}
.footer-info p {
  font-size: .8em;
  color:#1b1b1b;
  line-height: 1.55;
  max-width: 36em;
  margin-bottom: 1.7em;
}
.footer-disclaimer {
  width: 60%;
  position: relative;
}
.footer-credit {
  float: right;
  width: 40%;
  text-align: right;
  position: relative;
}
.footer-legal {
  opacity: .8;
}
.footer-credit a:hover {
  text-decoration: none;
}

/*  PORTFOLIO  */


.gal-container{
    display: flex;
    flex-wrap: wrap;
	justify-content: space-around;
    margin: 40px 20px 5% 20px;
}
.wed-gallery {
	background-image: url("images/wedgallery_bg.png"), linear-gradient( -45deg, #fad0c615 0%, #da9d8515 100%);
	background-size: 100%;
}

.gal-container figure {
	padding-bottom: 1%;
	width: auto;
	height: 25vw;
}

.gal-container figure img {
	height: 100%
}

.wed-gallery .fullGalButton {
	margin: 40px 20px 8% 20px;
	text-align: center;
}

.fullGalButton a {
	margin-left: 30%;
	margin-right: 30%;
	text-decoration: none;
	text-align: center;
	color: #1b1b1b;
	letter-spacing: .3em;
}

.fullGalButton a:hover {
	border-bottom: 1px solid #838383;
	color: #838383;
}

/*  FONTS  */

/* <uniquifier>: Use a unique and descriptive class name
   <weight>: Use a value from 400 to 900*/

.playfair-display-decided {
  font-family: "Abril Fatface", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
